# Database Configuration
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
POSTGRES_DB=dbname
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Redis Configuration (Used for ATTOM cache and celery)
REDIS_URL=redis://localhost:6379/0

# ATTOM API Configuration
ATTOM_API_KEY=2b8fb98bf5beeaae6b46d38e639a8806

# Google Maps Street View API Key
VITE_GOOGLE_STREET_VIEW_KEY=AIzaSyAoFrjr_t9lCEaVpXUgjUFr7jnoTii9Azg
